.chart_1 {
    display: inline-block;
    height: 250px;
    width: 500px;
}
.chart_2 {
    display: inline-block;
    height: 250px;
    width: 500px;
}
.chart_3 {
    display: inline-block;
    height: 250px;
    width: 500px;
}