* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(192, 192, 192);
    color: rgba(254, 245, 245, 0.784);
}

.wrapper {
    margin: 2% 0;
}

.title {
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 14, 14, 0.856);
    font-size: 50px;
    margin: 20px auto;
}

.card-container {
    margin: 0 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2%;
    text-align: center;
}

.card {
    max-width: 100%;
    background-color: rgba(77, 76, 76, 0.887);
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.card__name {
    color: rgb(226, 4, 4);
    font-size: 30px;
    margin-bottom: 3%;
}

.card__img {
    width: 100%;
}

.card__text {
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.rating_conteiner {
    display: grid;
    align-items: end;
}
.rating-area {
    overflow: hidden;
    width: 210px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.rating-area:not(:checked)>input {
    display: none;
}

.rating-area:not(:checked)>label {
    float: right;
    width: 42px;
    padding: 0;
    cursor: pointer;
    font-size: 32px;
    line-height: 32px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}

.rating-area:not(:checked)>label:before {
    content: '★';
}

.rating-area>input:checked~label {
    color: gold;
    text-shadow: 1px 1px #c60;
}

.rating-area:not(:checked)>label:hover,
.rating-area:not(:checked)>label:hover~label {
    color: gold;
}

.rating-area>input:checked+label:hover,
.rating-area>input:checked+label:hover~label,
.rating-area>input:checked~label:hover,
.rating-area>input:checked~label:hover~label,
.rating-area>label:hover~input:checked~label {
    color: gold;
    text-shadow: 1px 1px goldenrod;
}

.rate-area>label:active {
    position: relative;
}
