* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(192, 192, 192);
    color: rgba(254, 245, 245, 0.784);
}

.wrapper {
    margin: 2% 0;
}

.title {
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 14, 14, 0.856);
    font-size: 50px;
    margin: 20px auto;
}

.card-container {
    margin: 0 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2%;
    text-align: center;
}

.card {
    max-width: 100%;
    background-color: rgba(77, 76, 76, 0.887);
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.card__name {
    color: rgb(226, 4, 4);
    font-size: 30px;
    margin-bottom: 3%;
}

.card__img {
    width: 100%;
}

.card__text {
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 2px;
}

.btn {
    background-color: rgb(226, 4, 4);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.rating {
margin: 3px;
width: auto;
}